extends ../layout

block content
    form(action="" method="POST")
        div(class="field")
            label Title
            br
            input(type="text" name="title")
        
        div(class="field")
            label Author
            br
            input(type="text" name="author")
        
        div(class="field")
            label Content
            br
            textarea(name="body")
        
        button(type="submit") Add Post
